*.dll
*.opensdf
*.sdf
/.vs
/bin
/lib
/ipch
/temp
src/Server/moc_*.h
src/Server/moc_*.hpp
src/Shared/moc_*.h
src/Shared/moc_*.hpp
src/TestClient/moc_*.h
src/TestClient/moc_*.hpp
src/Web/Website/bin/
src/Web/Website/obj/
